LENGUAJE/EJERCICIOS/XML.ESQUEMAS/ENTREGAS/ESQUEMAS XML I/daniel/com/1/ejercicio1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="postit">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fecha" type="xs:string" />
        <xs:element name="quien" type="xs:string"/>
        <xs:element name="texto" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
