LENGUAJE/EJERCICIOS/XML.ESQUEMAS/ENTREGAS/ESQUEMAS XML II/2/empleado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="empleado">
<xsd:complexType>
<xsd:sequence>
	<xsd:sequence>
	<xsd:element name="nombre" type="xsd:string" />
	<xsd:element name="fechaingreso" type="xsd:string" />
	<xsd:element name="salario" type="xsd:string" />
	</xsd:sequence>
	<xsd:choice>
	<xsd:element name="fe1" type="xsd:date" />
	<xsd:element name="fe2" type="xsd:date" />
	</xsd:choice>
<xsd:element name="comentario" type="xsd:string" minOccurs="1" maxOccurs="3"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:string" use="required"/> 
</xsd:complexType>
</xsd:element> 
</xsd:schema>