LENGUAJE/EJERCICIOS/XML/DTD/EJERCICIOS DTD II/EJERCICIO 6/EJERCICIO 6.dtd

<!ELEMENT CatalogoPeliculas (Pelicula*)>
<!ELEMENT Pelicula (Titulo, Duracion, Genero, Actores, Fecha, Director, Formato)>
<!ELEMENT Actores (Actor*)>
<!ELEMENT Titulo (#PCDATA)>
<!ELEMENT Duracion (#PCDATA)>
<!ELEMENT Genero (#PCDATA)>
<!ELEMENT Fecha (#PCDATA)>
<!ELEMENT Director (#PCDATA)>
<!ELEMENT Formato (#PCDATA)>
<!ELEMENT Actor (#PCDATA)>